* {
    box-sizing: border-box;
}

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    left 0;
    right: 0;
    bottom: 0;
    top: 0;
}

