html
  head
    title= title
    link(
      rel='stylesheet'
      type='text/css'
      href='css/whiteboard.css'
    )
  body
    h1 Hello shtudents
    canvas(id='whiteboard')
    script(src='/socket.io/socket.io.js')
    script(src='js/whiteboard.js')
